@media screen and (max-width: 1100px) {
    .nav-menu {
        display: none;
    }
  }
/* START NAV-TOP */
.nav-top  {
    background-color: #333;
}
.nav-top .nav-bar i {
    color: #d0cdcd;
    font-size: 1.2em;
}
.nav-top .nav-bar .nofiction {
    font-size:0.5em;
}
/* END SECTION NAV TOP */
/* START SECTION NAVIGATION */
.Navigation {
    background-color: rgb(82, 78, 78); 
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.Navigation .nav-P .logo-P{
    font-size:30px;
    font-style: italic;
    color:white;
    font-family: 'EB Garamond', serif;
}
.Navigation .nav-logo img {
    width: 25px;
}
.Navigation .nav-P {
    padding-top:20px;    
}
.nav-right {
    padding-top:30px;
}
.nav-right li{
   list-style-type: none;
   display:flex;
}
.nav-right li a {
    color: #d0cdcd;
    padding-left:20px;
    font-size:1em;
    font-weight:bold;

}
.nav-right li a:hover {
    color:#ff6e76;
    padding-left:20px;
    transition: all 0.2s ease-in-out;
    font-weight:bold;
    
    
}
/* END NAV BAR */
/* START NAV BAR -2 */
.navBar-2 {
    background-color:#e9e7e7;
    margin-bottom:100px;
}
.navBar-2 li {
    list-style-type: none;
    margin-right:5px;
}
.navBar-2 li a:hover {
    color:#ff6e76;
    transition:all 0.3s ease-in-out;
    text-decoration:none; 
    
}
.navBar-2 li a {
    color: #605346;   
    font-size:0.8em;
}
/* END NAV BAR -2 */